.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.phone-icon{
  width: 50px;
  height: 50px;
}

@media (max-width: 1366px) {
  .image{
    display: none !important;
  }
  
}

@media (max-width: 992px) {
  .image, .text-area, .desktop{
    display: none !important;
  }
  .phone-icon{
    display: block !important;
  }
  .video-title{
    margin-top:15px !important;
  }
  .video-pos{
    margin-top:-1740px;
    margin-bottom:1570px;
  }
  .item:hover{
    color: rgb(0, 170, 170);
  }
  .res-p-3{
    padding-left: 0rem !important;
  }
  .res-mt-5{
    margin-top: 3rem !important;
  }
}

@media (min-width: 992px) {
  .res-mt-5{
    margin-top: 0rem !important;
  }
  .res-p-3{
    padding-left: 1rem !important;
  }
  .image{
    margin-top: 0px;
    float: left;
    z-index: -1;
    top:90px;
    position:absolute;
  }
  .text-area{
    z-index: 100;
    /* position: absolute; */
    margin-top:140px;
    margin-bottom: 200px;
  }
  .header{
    z-index: 500;
  }
  .phone-icon, .phone{
    display: none !important;
  }
  .video-title{
    margin-top:0px;
  }
}

.card-title{
  background-color: rgb(248,248,248);
}

.only-title{
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  height:65px;
}

.fab-btn{
  width:40px !important;
  height:40px !important;
  background-color: white !important;
  color:rgb(12, 112, 211) !important;
}
.red{
  color:rgb(229, 36, 36) !important;
}
#container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
  height: 400px;
  background-color: #fff;
}
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(167,176,186) rgb(226,227,228);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgb(226,227,228);;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(167,176,186);
  border-radius: 20px;
  border: 1px solid rgb(226,227,228);;
}